<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">
    {% assign pages_list = site.html_pages | sort:"nav_order" %}
    {% for node in pages_list %}
      {% unless node.nav_exclude %}
        {% if node.parent == nil %}
          <li class="navigation-list-item{% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %} active{% endif %}">
            {% if page.parent == node.title or page.grand_parent == node.title %}
              {% assign first_level_url = node.url | absolute_url %}
            {% endif %}
            <a href="{{ node.url | absolute_url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>

            {% if page.url == node.url %}
              {% if node.toc_min %}{% assign toc_min = node.toc_min %}{% else %}{% assign toc_min = 2 %}{% endif %}
              {% if node.toc_max %}{% assign toc_max = node.toc_max %}{% else %}{% assign toc_max = 3 %}{% endif %}
              {% include toc.html html=content class="navigation-list-child-list" item_class="navigation-list-item" anchor_class="navigation-list-link" h_min=toc_min h_max=toc_max %}
            {% endif %}
          </li>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
