body {
  height: 100%;
}
.jumbotron {
  padding: 4rem 2rem;
  border-radius: 0.3rem;
}
.landing {
  width: 100%;
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}
.text-logo {
  font-family: 'Cute Font';
  font-size: 1.7em;
  line-height: 24px;
  color: #1c93c1 !important;
}
.text-center {
  text-align: center !important;
}
.text-white {
  color: #fff !important;
}